<div class="search">
  <form #form="ngForm" (submit)="onSubmit()" >
  <mat-form-field appearance="outline">
    <mat-label>Search City</mat-label>
    <input class="city"matInput name="city" [(ngModel)]="cityName">
  </mat-form-field>
</form>
</div>
<div class="container">
  <div class="upperdata">
<img src="../assets/coldif.gif" *ngIf="weatherdata!.current.feelslike_c<=15">
<img src="../assets/hot2.gif" *ngIf="weatherdata!.current.feelslike_c>15">
<div class="weatherdata">
  <div class="location">
      {{weatherdata!.location.name}}
  </div>
  <div class="temperature">
      <b>{{weatherdata!.current.feelslike_c|number: '1.0-0'}}°C</b>
  </div>
</div>
  </div>
  <div class="lowerdata">
<div class="moreInfoLabel">
  Last Updated: {{weatherdata!.current.last_updated}}
</div>
<hr>
<div class="moreInfoContainer">
  <div class="infoBlock">
    <div class="infoBlockLabel">
      <mat-icon>  thermostat</mat-icon>
      <span>Min</span>
    </div>
    <div class="infoBlockValue">
      {{(weatherdata!.current.feelslike_c)/2}}°C
    </div>
  </div>
  <div class="infoBlock3">
    <div class="infoBlockLabel">
      <mat-icon>  thermostat</mat-icon>
      <span>Max</span>
    </div>
    <div class="infoBlockValue">
      {{(weatherdata!.current.feelslike_c)*1.3|number: '1.1-1'}}°C
    </div>
  </div>
</div>
<div class="midcontainer">
</div>
<div class="moreInfoContainer2">
  <div class="infoBlock">
    <div class="infoBlockLabel">
      <mat-icon> storm</mat-icon>
      <span>humidity </span>
    </div>
    <div class="infoBlockValue">
      {{weatherdata!.current.humidity}}%
    </div>
  </div>
  <div class="infoBlock2">
    <div class="infoBlockLabel">
      <mat-icon>  air</mat-icon>
      <span>Wind km/h</span>
    </div>
    <div class="infoBlockValue">
      {{(weatherdata!.current.wind_mph)*1.60934|number:'1.1-1'}}
    </div>
  </div>
</div>
  </div>
</div>



<router-outlet></router-outlet>


